<!DOCTYPE html>
<html>
<head>
<title>College AI Chatbot</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<!-- Elegant font -->
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@300&display=swap" rel="stylesheet">

</head>

<body class="home-bg">

<div class="overlay">

<div class="glass-card">

<h1 class="title">WELCOME TO LBS AI ASSISTANT!🤖</h1>

<p class="subtitle">
Got questions about admissions, exams, courses, or campus facilities?
I'm here to help you 24/7.

Ask your questions and get instant answers!
</p>

<a href="/chat">
<button class="start-btn">Start conversation </button>
</a>

</div>

</div>

</body>
</html>